.main {
	min-height: 100vh;
	height: 100%;
	display: flex;

	@media (max-width: 1000px) {
		flex-direction: column;
		.left {
			width: 100%;
			height: 100px;

			form {
				flex-direction: row;
				justify-content: space-between;
				max-width: 400px;
			}
		}
	}
}

.left {
	width: 350px;
	background: linear-gradient(204.16deg, #423e9e 22.48%, #bd47be 88.65%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	form {
		width: 75%;
	}

	input {
		background: none;
		color: white;
		width: 100%;
		height: 47px;

		&:focus {
			border: 2px solid white;

			&::placeholder {
				color: white;
			}
		}
	}
}

.right {
	width: 100%;
}

.title {
	color: #423e9e;
	font-size: 1.2rem;
	align-self: flex-start;
	margin-top: 8px;
	margin-bottom: 8px;
}

.text {
	color: #7842acf5;
	font-size: 1rem;
	margin-top: 8px;
	margin-bottom: 8px;
	border: none;
	border-bottom: solid #d9d9d9 1px;
	border-radius: 0px;
	background-color: white;
}

.inputs {
	color: #bcbcbc;
	font-style: italic;
	font-size: 1rem;
}

.gumb {
	color: #3f126b;
	font-size: 1rem;
	border: 2px solid #3f126b;
	border-radius: 32px;
	font-style: italic;

	&:hover {
		color: white;
		background-color: #3f126b;
		cursor: pointer;
	}
}

.gumbLikes {
	border: none;

	&:hover {
		background: white;
		color: black;
		cursor: pointer;
	}
}

.divGumbi {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ratingLocation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ratingSearch {
	display: flex;
	align-items: center;
	justify-content: center;
}

.changeButton {
    background: #B847BD;
    color: white;
    margin-bottom: 8px;
    border: 4px solid white;
    font-size: 1.2rem;
    padding: 12px 24px;

    &:hover {
        border: 4px solid #dba3de;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        border: 4px solid #dba3de;
    }

    &:disabled {
        background: #e0d0e0;
        cursor: not-allowed;
    }
}