.main {
    h2, h3{
        margin: 0;
        padding: 0;
    }

	p {
		margin: 0;
		padding: 0;
	}

    button {
        padding: 4px 8px;
    }

    display: flex;
    flex-direction: column;
    gap: 32px;
}
